{% extends "universal.html" %}

{% block css %}
<!-- App stylesheet links goes here -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/music.css') }}">
{% endblock %}

{% block content %}
    <!-- App HTML goes here -->
    <div class="music-container">
        {%for i in range(0, numMusicFiles)%}
        <button class="music-button" songref="{{ musicFiles[i] }}" onclick="playMusicFile(this)">▶&emsp;{{ musicFiles[i] }}</button>
        {%endfor%}
    </div>

    <div class="audio-container"><span id="song-info"></span><audio id="audio" controls="controls" src=""></audio> </div>
    <script src="{{url_for('static', filename='scripts/music.js')}}"></script>
{% endblock %}